/* HEADER AND NAVIGATION */

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  align-items: center;
}

/* logo */

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.mytlogo {
  display: inline-block;
  padding-left: 30px;
}

.heading {
  display: inline-block;
  color: MediumAquamarine;
  padding-left: 15px;
}

/* navigation */

nav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
}

span.navigation {
  display: inline-block;
  padding: 15px;
}

.navigation a {
  color: black;
}

/* MAIN CONTAINER */
