/* HEADER AND NAVIGATION */

header {
  background-color: white;
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  align-items: center;
  position: fixed;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 20px;
  top: -10px;
  z-index: 1;
}

/* logo */

.logo {
  display: flex;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-grow: 1;
  min-width: 200px;
  align-items: center;
}

.mytlogo {
  display: inline-block;
  width: 70px;
  height: 60px;
  padding-left: 30px;
}

.heading {
  display: inline-block;
  color: MediumAquamarine;
  padding-left: 15px;
}

/* navigation */

nav {
  display: block;
  padding-right: 30px;
}

span.navigation {
  display: inline-block;
  padding: 10px;
}

.navigation a {
  color: black;
}

/* MAIN CONTAINER */

#main {
  display: flex;
  position: relative;
  width: 1260px;
  margin: 0 auto;
  padding-top: 100px;
}

.column.large {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  margin: 15px;
  width: 630px;
  border: 1px solid red;
}

.column.medium {
  display: flex;
  flex-flow: row wrap;
  width: 300px;
  margin: 15px;
}

.column.small {
  display: flex;
  flex-flow: row wrap;
  width: 240px;
  margin: 15px;
}

.inpicture {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

#tunasteak {
  background-image: url("../media/main_story.png");
  height: 300px;
  font-size: 40px;
  padding-bottom: 30px;
}

#earth {
  background-image: url("../media/fall_story.png");
  margin-right: 26px;
  height: 300px;
  width: 300px;
  text-align: center;
}

#memory {
  background-image: url("../media/hipster_cameraman.png");
  height: 300px;
  width: 300px;
  text-align: center;
}

#cats {
  background-image: url("../media/cat_CEO.png");
  height: 300px;
  text-align: center;
}

#orca {
  margin-right: 26px;
  width: 300px;
}

#burger {
  width: 300px;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
